<h2>Log In!</h2>
<form action="/users/login" method="POST">
    Username:
    <input type="text" name="username" placeholder="username" />
    Password:
    <input type="text" name="password" placeholder="password" />
    <button>Log In!</button>
</form>
<small>Need An Account? <a href="/users/register">Create Account</a>
    <small>Already have one? <a href="/users/login">Log In!</a>