<h2>Sign Up!</h2>
	<form action="/users/register" method="POST">
		Username:
		<input type="text" name="username" placeholder="username" />
		Password:
		<input type="text" name="password" placeholder="password" />
		<button>Create Account</button>
	</form>
	