html {
	background-color: #BE9B7B;
}
header {
		background-color: #BE9B7B;

}
nav {
	width: 49%;
	display: inline-block;
	background-color: #DFCCAF;
	color: #ffffff;
	text-decoration: none;
}

nav:last-child {
	text-align: right;
}

li {
	background-color: #6F4436;
	color: #ffffff;
}

.list-group {
	background-color: 
	width
}